
/* Styling av hovedsiden */

.Gruppenavn{
    text-align: center;
    font-family: Bebas Neue, Serif;
    font-size: 30px;

}

.OmGruppe1A{
    
    font-family: Bebas Neue, Serif;
    font-size: 35px;
    text-align: center;
    margin-top: 200px;


}

.Ginfo{
    font-family: Bebas Neue, Serif;
    font-size: 17px;
    margin-bottom: 50px;

}


/* Styling for infosider om hvert gruppemedlem */


/* styling av info side om Hawler */

.hinfo{
    font-family: Bebas Neue, Serif;
    text-align: center;
    font-size: 50px;
}

.hoverskrift{
    font-family: Bebas Neue, Serif;
    font-size: 40px;
}

.hparagraf{
    font-family: Bebas Neue, Serif;
    text-align: left;
    font-size: 25px;

}

.hfigur{
    font-family: Bebas Neue, Serif;
    width: 1000px;
}



.figurhAPI{
    width: 50%;
    float: left;
    font-family: Bebas Neue, Serif;
}


.hBody {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1000px;
    height: 100%;
    margin: auto;
    font-family: Bebas Neue, Serif;
    font-size: 20px;
}


/* styling av infoside om Jon */


.jinfo{
    font-family: Bebas Neue, Serif;
    text-align: center;
    font-size: 50px;
}

.joverskrift{
    font-family: Bebas Neue, Serif;
    font-size: 40px;
}

.jparagraf{
    font-family: Bebas Neue, Serif;
    text-align: left;
    font-size: 25px;
}

.jfigur {
    font-family: Bebas Neue, Serif;
    width: 1000px;
}



.figurjAPI{
    width: 50%;
    float: left;

}


.jBody {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1000px;
    height: 100%;
    margin: auto;
    font-family: Bebas Neue, Serif;
    font-size: 20px;
}





/* styling av info side om Jørgen */


.joinfo{
    font-family: Bebas Neue, Serif;
    text-align: center;
    font-size: 50px;
}

.jooverskrift{
    font-family: Bebas Neue, Serif;
    font-size: 40px;
}

.joparagraf{
    font-family: Bebas Neue, Serif;
    text-align: left;
    font-size: 25px;

}

.jofigur{
    font-family: Bebas Neue, Serif;
    width: 1000px;
}



.figurjoAPI{
    width: 50%;
    float: left;
    font-family: Bebas Neue, Serif;
}


.joBody {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1000px;
    height: 100%;
    margin: auto;
    font-family: Bebas Neue, Serif;
    font-size: 20px;
}


/* styling av info side om Lise */


.linfo{
    font-family: Bebas Neue, Serif;
    text-align: center;
    font-size: 50px;
}

.loverskrift{
    font-family: Bebas Neue, Serif;
    font-size: 40px;
}

.lparagraf{
    font-family: Bebas Neue, Serif;
    text-align: left;
    font-size: 25px;
    width: 100%;

}

.lfigur{
    font-family: Bebas Neue, Serif;
    width: 1000px;
}

.figurLiseAPI {
    width: 50%;
    float: left;

}

/* Flere av html sidene benytter seg av denne css stylingen,
stylingen på body skal være lik på alle sidene derfor er det
heller ikke nødvendig å dele disse opp i "hawlerBody" feks"
 */

.fellesBody{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1000px;
    height: 100%;
    margin: auto;
    font-family: Bebas Neue, Serif;
    font-size: 20px;
}


/* styling av infoside om Nina */


.ninfo{
    font-family: Bebas Neue, Serif;
    text-align: center;
    font-size: 50px;
}

.noverskrif{
    font-family: Bebas Neue, Serif;
    font-size: 40px;
}

.nparagraf{
    font-family: Bebas Neue, Serif;
    text-align: left;
    font-size: 25px;
}

.nfigur {
    font-family: Bebas Neue, Serif;
    width: 1000px;
}

.figurnAPI {
    width: 50%;
    float: left;

}

.nBody{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1000px;
    height: 100%;
    margin: auto;
    font-family: Bebas Neue, Serif;
    font-size: 20px;
}


/* styling av info side om Ole */


.oinfo{
    font-family: Bebas Neue, Serif;
    text-align: center;
    font-size: 50px;
}

.ooverskrift{
    font-family: Bebas Neue, Serif;
    font-size: 40px;
}

.oparagraf{
    font-family: Bebas Neue, Serif;
    text-align: left;
    font-size: 25px;
}

.ofigur{
    font-family: Bebas Neue, Serif;
    width: 1000px;
}


.figuroAPI {
    width: 50%;
    float: left;

}



/*felles styling på infosider*/


nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

nav li a {
    display: block;
    text-decoration: none;
    background-color: #446479;
    color: white;
    font-size: 30px;
    padding: 10px;
}

nav li a:hover {
    background-color: #374752;
}

nav li {
    float: left;
    width: 142px;
}

/*Linjen med styling nedenfor benyttes også flere steder*/

.LiseRep {
    width: 1000px;
}

.klimaavtrykk {
    width: 1000px;
    font-family: Bebas Neue, Serif;
}

