
/* Styling av hovedsiden */

.Gruppenavn{
    text-align: center;
    font-family: Bebas Neue, Serif;
    font-size: 30px;

}


/* Styling av navnbokser på hovedsiden */

.Hawler{
    width: 100px;
    height: 100px;


    background-color: lightblue;
    border-style: solid;
    border-width: 30px;
    border-radius: 20px;
    border-color: lightblue;
    margin-bottom: 30px;
    text-align: center;
    font-family: Bebas Neue, Serif;
    float: left;


}

.Jon{
    width: 100px;
    height: 100px;


    background-color: darkorange;
    border-style: solid;
    border-width: 30px;
    border-radius: 20px;
    border-color: darkorange;
    margin-bottom: 30px;
    text-align: center;
    font-family: Bebas Neue, Serif;
    float: left;
    margin-left: 60px;

}

.Jørgen{
    width: 100px;
    height: 100px;

    background-color: rebeccapurple;
    border-style: solid;
    border-width: 30px;
    border-radius: 20px;
    border-color: rebeccapurple;
    margin-bottom: 30px;
    text-align: center;
    font-family: Bebas Neue, Serif;
    float: left;
    margin-left: 60px;

}


.Ole{
    width: 100px;
    height: 100px;


    background-color: red;
    border-style: solid;
    border-width: 30px;
    border-radius: 20px;
    margin-bottom: 30px;
    text-align: center;
    border-color: red;
    font-family: Bebas Neue, Serif;
    float: left;
    margin-left: 60px;

}

.Nina{
    width: 100px;
    height: 100px;


    background-color: darkgreen;
    border-style: solid;
    border-width: 30px;
    border-radius: 20px;
    margin-bottom: 30px;
    text-align: center;
    border-color: darkgreen;
    font-family: Bebas Neue, Serif;
    float: left;
    margin-left: 60px;

}

.Lise{
    width: 100px;
    height: 100px;


    background-color: hotpink;
    border-style: solid;
    border-width: 30px;
    border-radius: 20px;
    margin-bottom: 30px;
    text-align: center;
    border-color: hotpink;
    font-family: Bebas Neue, Serif;
    float: left;
    margin-left: 60px;

}

.OmGruppe1A{
    
    font-family: Bebas Neue, Serif;
    font-size: 35px;
    text-align: center;


}

.Ginfo{
    font-family: Bebas Neue, Serif;
    font-size: 17px;

}


/* Styling for infosider om hvert gruppemedlem */


/* styling av info side om Hawler */

.hinfo{
    font-family: Bebas Neue, Serif;
    text-align: center;
    font-size: 50px;
}

.hkodeopplevelse{
    font-family: Bebas Neue, Serif;
    font-size: 40px;
}

.hparagraf{
    font-family: Bebas Neue, Serif;
    text-align: left;
    font-size: 25px;

}

.hfigur{
    font-family: Bebas Neue, Serif;
    width: 1000px;
}



.figurhAPI{
    width: 50%;
    float: left;
    font-family: Bebas Neue, Serif;
}


.hBody {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1000px;
    height: 100%;
    margin: auto;
    font-family: Bebas Neue, Serif;
    font-size: 20px;
}


/* styling av infoside om Jon */


.jinfo{
    font-family: Bebas Neue, Serif;
    text-align: center;
    font-size: 50px;
}

.jkodeopplevelse{
    font-family: Bebas Neue, Serif;
    font-size: 40px;
}

.jparagraf{
    font-family: Bebas Neue, Serif;
    text-align: left;
    font-size: 25px;
}

.jfigur {
    font-family: Bebas Neue, Serif;
    width: 1000px;
}



.figurjAPI{
    width: 50%;
    float: left;
    font-family: Bebas Neue, Serif;
}


.jBody {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1000px;
    height: 100%;
    margin: auto;
    font-family: Bebas Neue, Serif;
    font-size: 20px;
}





/* styling av info side om Jørgen */


.joinfo{
    font-family: Bebas Neue, Serif;
    text-align: center;
    font-size: 50px;
}

.jokodeopplevelse{
    font-family: Bebas Neue, Serif;
    font-size: 40px;
}

.joparagraf{
    font-family: Bebas Neue, Serif;
    text-align: left;
    font-size: 25px;

}

.jofigur{
    font-family: Bebas Neue, Serif;
    width: 1000px;
}



.figurjoAPI{
    width: 50%;
    float: left;
    font-family: Bebas Neue, Serif;
}


.joBody {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1000px;
    height: 100%;
    margin: auto;
    font-family: Bebas Neue, Serif;
    font-size: 20px;
}


/* styling av info side om Lise */


.linfo{
    font-family: Bebas Neue, Serif;
    text-align: center;
    font-size: 50px;
}

.lkodeopplevelse{
    font-family: Bebas Neue, Serif;
    font-size: 40px;
}

.lparagraf{
    font-family: Bebas Neue, Serif;
    text-align: left;
    font-size: 25px;
    width: 100%;

}

.lfigur{
    font-family: Bebas Neue, Serif;
    width: 1000px;
}

.figurLiseAPI {
    width: 50%;
    float: left;

}


.liseBody{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1000px;
    height: 100%;
    margin: auto;
    font-family: Bebas Neue, Serif;
    font-size: 20px;
}


/* styling av infoside om Nina */


.ninfo{
    font-family: Bebas Neue, Serif;
    text-align: center;
    font-size: 50px;
}

.nkodeopplevelse{
    font-family: Bebas Neue, Serif;
    font-size: 40px;
}

.nparagraf{
    font-family: Bebas Neue, Serif;
    text-align: left;
    font-size: 25px;
}

.nfigur {
    font-family: Bebas Neue, Serif;
    width: 1000px;
}

.figurnAPI {
    width: 50%;
    float: left;

}

.nBody{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1000px;
    height: 100%;
    margin: auto;
    font-family: Bebas Neue, Serif;
    font-size: 20px;
}


/* styling av info side om Ole */


.oinfo{
    font-family: Bebas Neue, Serif;
    text-align: center;
    font-size: 50px;
}

.okodeopplevelse{
    font-family: Bebas Neue, Serif;
    font-size: 40px;
}

.oparagraf{
    font-family: Bebas Neue, Serif;
    text-align: left;
    font-size: 25px;
}

.ofigur{
    font-family: Bebas Neue, Serif;
    width: 1000px;
}


.figuroAPI {
    width: 50%;
    float: left;

}


.oBody{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1000px;
    height: 100%;
    margin: auto;
    font-family: Bebas Neue, Serif;
    font-size: 20px;
}



/*   */

/*felles styling på infosider*/

